<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fa fa-gamepad fa-8x"></i>
    <h1>You Have Entered The Lightwars Zone!</h1>
    <a href="https://drive.google.com/u/0/uc?id=1CCPpid7q5DDEGvQLwGsG6-OC5H-qW8YU&export=download">
      <p class="subtitle">Click Here To Launch The Lightwars Game!</p>
    </a>
    
    <% usersWithSecrets.forEach((user) => { %>
      <p class="secret-text"><%=user.secret%></p>
    <% }); %>
    
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit an inquiry</a>
  </div>
</div>

<%- include('partials/footer') %>
