<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Entered The Lightwars Zone!</h1>
    <p class="secret-text">Click the link to start playing.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit an inquiry</a>
  </div>
</div>

<%- include('partials/footer') %>
